[submodule ".registry"]
	path = .registry
	url = https://github.com/laleoarrow/laleoarrow.r-universe.dev
	branch = HEAD
[submodule "TwoSampleMR"]
	path = TwoSampleMR
	url = https://github.com/MRCIEU/TwoSampleMR
[submodule "annotables"]
	path = annotables
	url = https://github.com/stephenturner/annotables
[submodule "leo.basic"]
	path = leo.basic
	url = https://github.com/laleoarrow/leo.basic
[submodule "leo.gwas"]
	path = leo.gwas
	url = https://github.com/laleoarrow/leo.gwas
[submodule "leo.sc"]
	path = leo.sc
	url = https://github.com/laleoarrow/leo.sc
